Copy code
<div class="card">
  <div class="card-body">
    <div class="d-flex flex-row">
      <div class="pic-holder">
        <%= cl_image_tag message.user.photo.key, class: 'rounded-circle pic', height: '70', width: '70' %>
      </div>
      <div class="message-info">
        <div class="username">
          <strong><%= message.user.username %></strong>
        </div>
        <div class="time">
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </div>
        <div class="content">
          <p class="text-start" style="margin-top: 20px; margin-left: 10px"><%= message.conten %></p>
        </div>
      </div>
    </div>
  </div>
</div>
