<h1 class="text-center" style="padding: 20px">Create a new group:</h1>

<div class="container">
  <%= render 'form' %>
</div>

<div class="text-center back" style="padding: 10px">
    <button type="button" class="btn btn-primary btn-sm"><%= link_to "Go back to all groups",groups_path, class: "a-primary"%></button>
  </div>
