<h1 class="text-center" style="padding: 20px"><%= @group.title%></h1>

<div class="text-center">
  <img src="https://images.unsplash.com/photo-1628891890377-57dba2715caf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c29jY2VyJTIwdGVhbXxlbnwwfHwwfHw%3D&w=1000&q=80" style="border-radius: 50%; width: 30%;">
</div>

<div class="text-center" style="padding: 40px">
<h2>Group Description:</h2>
<h2><%= @group.description%></h2>
</div>

<div class="container">
<h3>Group Members:</h3>
<p>Cards with profile pictures of members</p>
</div>
