<style>
  .container {
    background-color: none;
  }

  .pic {
    object-fit: cover;
  }

  .avatar-large {
  width: 100px;
  border-radius: 50%;
}
</style>

<div class="container mt-5">
  <h1 class="mb-5 text-center" style="color: #03045E">Athletes Near You!</h1>
  <div class="cards">
    <% @users.each do |user| %>
      <div class="card-category text-center">
        <%= link_to user_path(user) do %>
          <%= cl_image_tag user.photo.key, class: 'rounded-circle pic', height: '200', width: '200' %>
        <% end %>
        <div class="card-body">
          <h4 class="card-title" style="color: #03045E"><%= link_to user.username, user_path(user) %></h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
