<style>
  .pic {
    object-fit: cover;
    height: 150px;
    width: 150px;
    margin-top: 20px;
  }


  a {
    text-decoration: none;
    color: #03045E;
    text-align: center;
  }

  h1 {
    color: #03045E;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
  }

  h3 {
    margin-top: 10px;
    text-align: center;
  }

  a:hover {
    text-decoration: none;
    color: #2ede31;
  }

  .card {
    background: white;
    border-radius: 5%;
    height: 270px;
    width: 250px;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
</style>


<h1>Athletes near you</h1>


<div class="row row-cols-1 row-cols-md-4">
  <% @users.each do |user| %>
    <div class="col-md-3">
      <div class="flex-container">
        <div class="card">
          <%= link_to user_path(user) do %>
            <% if user.photo.attached? %>
              <%= cl_image_tag user.photo.key, class: 'rounded-circle pic' %>
            <% else %>
              <%= image_tag "default_avatar.png", class: 'rounded-circle pic' %>
            <% end%>
          <% end %>
          <div class="card-body">
            <h3><%= link_to user.username, user_path(user) %></h3>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
