<footer class="footer" style="background-color: #0A2647;">
    <div class="row text-white">
      <div class="col-md-4">
        <h4 style="font-size: 15px; padding: 25px;">
          Copyright © 2023 LeWagon All rights reserved.
        </h4>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="container">
            <div class="d-flex flex-row justify-content-center align-items-center" style="padding: 10px; gap: 10px">
              <h4>Developed by:</h4>
              <a href="https://github.com/ORafie"><img class="avatar" src="https://avatars.githubusercontent.com/u/116958133?v=4"></a>
              <a href="https://github.com/grizzly-dangers"><img class="avatar" src="https://avatars.githubusercontent.com/u/116736933?v=4"></a>
              <a href="https://github.com/chloevanryn"><img class="avatar" src="https://avatars.githubusercontent.com/u/114433301?v=4"></a>
              <a href="https://github.com/arthurdotexe"><img class="avatar" src="https://avatars.githubusercontent.com/u/116120585?v=4"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="container">
            <div class="d-flex justify-content-end" style="gap: 15px; margin-top: 25px; margin-right: 25px">
              <h4>Follow us on: </h4>
              <a href="https://twitter.com/"><i class="fab fa-twitter fa-2x mr-2 mb-2"></i></a>
              <a href="https://www.facebook.com/"><i class="fab fa-facebook-f fa-2x mr-2 mb-2"></i></a>
              <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x mr-2 mb-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>
