<style>
  header {
    background-image: url("https://images.unsplash.com/photo-1494177310973-4841f7d5a882?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2342&q=80");
    background-size: cover;
  }
  footer {
    background-color: #0A2647:
  }
  .pic {
    object-fit: cover;
  }
</style>

  <header class="text-white py-5">
    <div class="container text-center" style="padding: 180px; position:relative;">
      <div class="container text-center">
        <div class='console-container' style="margin-top: 20px; left: 0" data-controller="typescript" data-typescript-target="script" data-action="DOMContentLoaded->typescript#consoleText"><span id='text'><h1 class="text-center text-white" style="font-size: 70px"></h1></span>
          <div class='console-underscore' id='console'>&#95;
          </div>
        </div>
        <% if user_signed_in?%>
        <div class="container text-center" style="margin-top: 50px;">
          <%= link_to "Join an event in your area", events_path, class: "btn btn-primary btn-lg inverted-3" %>
        </div>
        <% else %>
        <div class="container text-center" style="margin-top: 50px;">
          <%= link_to "Sign up for free", new_user_registration_path, class: "btn btn-primary btn-lg inverted-3" %>
        </div>
        <% end %>
      </div>
    </div>
  </header>



<div class="container mb-5" style="padding: 20px; column-gap: 20px">
    <div style="padding: 20px">
      <h1>Featured Events:</h1>
    </div>
    <div class="row" style="">
      <div class="col-md-7">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <% @groups.each do |group| %>
            <%= link_to group_path(group) do%>
            <div class="carousel-item active">
              <%= cl_image_tag group.photo.key, class: 'd-block w-100 rounded pic', height: '450', width: '350'%>
            </div>
            <%end%>
            <%end%>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-5" style="">
        <div class="container d-flex flex-column" style="margin-left: 50px;">
          <h1 class="text-center" style="margin-bottom: 40px">About us</h1>
          <p>Welcome to SwiftSports! We are an organisation that is passionate about staying active and engaging with others who share the same interests. Whether you're a seasoned athlete or just starting out, our community provides a supportive and inclusive environment for all skill levels. We host regular meetups, events, and competitions for a variety of sports, including but not limited to running, cycling, swimming and team sports. Our goal is to promote healthy living, foster connections, and build a community of like-minded individuals who love being active and pushing their limits. Join us today and let's play together!</p>
        </div>
      </div>
    </div>
  </div>
