<div class="container mt-5">
  <h1>Search Results</h1>
  <% @results.each do |result| %>
    <div class="card mb-3">
      <% if result.class == User %>
        <%= link_to result.username, user_path(result) %>
      <% elsif result.class == Group %>
        <%= link_to result.title, group_path(result) %>
      <% elsif result.class == Event %>
        <%= link_to result.title, event_path(result) %>
      <% end %>
    </div>
  <% end %>
</div>
