<style>



.card-title a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}
</style>


<div class="container mt-5">
  <h1>Search Results</h1>
  <div>
    <% @results.each do |result| %>
      <div class="col-md-3">
        <div class="card-1 mb-3">
          <div class="card-body-1">
            <% if result.class == User %>
              <h5 class="card-title"><%= link_to result.username, user_path(result) %></h5>
            <% elsif result.class == Group %>
              <h5 class="card-title"><%= link_to result.title, group_path(result) %></h5>
            <% elsif result.class == Event %>
              <h5 class="card-title"><%= link_to result.title, event_path(result) %></h5>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
