<%= simple_form_for(@user_sport) do |f| %>
  <%= f.association :sport %>
  <%= f.submit %>
<% end %>

<div class="container">
  <div class="row justify-content-center">
      <% @sport.each do |sport| %>
        <div class="col-4">
          <h4 class="row justify-content-center"><%= sport.name %></h4>
        </div>
      <% end %>
  </div>
</div>
