<style>
  .title10 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    font-weight: bold;
  }
</style>

<div class="container mx-auto text-center">
  <h1 class="title10" style="color: #03045E;">Choose your sports &nbsp;<i class="fas fa-solid fa-list-check"></i></h1>
  <%= render 'form' %>
</div>
