<div class="container">
  <h1>Choose a Sport</h1>
  <%= render 'form' %>
</div>

<style>
  .container {
    background-color: none;
  }

  .pic {
    object-fit: cover;
  }

  .avatar-large {
  width: 100px;
  border-radius: 50%;
}

.btn-primary {
  background-color: #3B6B94;
  border-color: #3B6B94;
}

.btn-primary:hover {
  background-color: #74ABDE;
  border-color: #74ABDE;
}
</style>


<h1 class="mb-5 mt-5 text-center">Choose your sport</h1>
      <div class="card" style="border-radius: 5%;">
        <div class="sport_wrapper">
          </div><%= render 'form' %>
        </div>
    </div>
