.chatroombox {
  background-color: #EDEDED;
  background-size: cover;

  .chatcontainer {
    width: 60%;
  }

  .chatroom {
    background-color: white;
    margin-top: 15px;
    margin-bottom: 55px;
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .pic {
    object-fit: cover;
  }

  .messages {
    height: 80%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
