.btn-devise {
  background-color: #3B6B94;
  border-color: #3B6B94;
  color: white;
  margin-right: 10px;
}

.btn-devise:hover {
  background-color: #74ABDE;
  border-color: #74ABDE;
  color: white;
  margin-right: 10px;
}
