.navbar-lewagon {
  justify-content: space-between;
  background-color: $my_blue;;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: cover / center;
}

.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}

.btn-primary {
  background-color: #3B6B94;
  border-color: #3B6B94;
  color: white;
}

.btn-primary:hover {
  background-color: #74ABDE;
  border-color: #74ABDE;
  color: white;
}
