.container {
  margin-bottom: 10px;
}

.container h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}

.sportbutton {
  color: white;
  margin-top: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #3B6B94;
  border: #3B6B94;
  padding: 15px;
}

.sportbutton:hover {
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #74ABDE;
  border: #74ABDE;
  padding: 15px;
 }

.sport-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 5%;
  background-color: white;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.sport-item {
  margin: 0 auto;
  padding: 5px;
}

.sport-selector {
  position: absolute;
  transform: scale(0);
}

.sport-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 130px;
  height: 130px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #2ede31;
  text-shadow: -1px 0 #3a3a3a, 0 1px #3a3a3a, 1px 0 #3a3a3a, 0 -1px #3a3a3a;
  line-height: 110px;
  padding: 10px;
  margin: 5px auto;
  border-radius: 50%;
}

.sport-selector:checked + label {
  border-color: #2ede31 !important;
  background-color: #FFFFFF !important;
  border-width: thick;
  border-style: solid;
  font-size: 0.0001em;
}

#user_sport_sport_football + label {
  background: url('sports/football.png'), #FFFFFF;
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#user_sport_sport_football:checked + label {
  background: url('sports/football.png');
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}


#user_sport_sport_basketball + label {
  background: url('sports/basketball.png'), #FFFFFF;
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#user_sport_sport_basketball:checked + label {
  background: url('sports/basketball.png'), ;
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}


#user_sport_sport_volleyball + label {
  background: url('sports/volleyball'), #FFFFFF;
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#user_sport_sport_volleyball:checked + label {
  background: url('sports/volleyball');
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#user_sport_sport_tennis + label {
  background: url('sports/tennis.png'), #FFFFFF;
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#user_sport_sport_tennis:checked + label {
  background: url('sports/tennis.png');
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#user_sport_sport_padel + label {
  background: url('sports/padel.png'), #FFFFFF;
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#user_sport_sport_padel:checked + label {
  background: url('sports/padel.png');
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#user_sport_sport_jogging + label {
  background: url('sports/jogging.png'), #FFFFFF;
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#user_sport_sport_jogging:checked + label {
  background: url('sports/jogging.png');
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#user_sport_sport_yoga + label {
  background: url('sports/yoga.png'), #FFFFFF;
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#user_sport_sport_yoga:checked + label {
  background: url('sports/yoga.png');
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#user_sport_sport_rugby + label {
  background: url('sports/rugby.png'), #FFFFFF;
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#user_sport_sport_rugby:checked + label {
  background: url('sports/rugby.png');
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#user_sport_sport_hockey + label {
  background: url('sports/hockey.png'), #FFFFFF;
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#user_sport_sport_hockey:checked + label {
  background: url('sports/hockey.png');
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#user_sport_sport_baseball + label {
  background: url('sports/baseball.png'), #FFFFFF;
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#user_sport_sport_baseball:checked + label {
  background: url('sports/baseball.png');
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#user_sport_sport_water_polo + label {
  background: url('sports/waterpolo.png'), #FFFFFF;
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#user_sport_sport_water_polo:checked + label {
  background: url('sports/waterpolo.png');
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#user_sport_sport_cricket + label {
  background: url('sports/cricket.png'), #FFFFFF;
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#user_sport_sport_cricket:checked + label {
  background: url('sports/cricket.png');
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
